@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: normal;
}

body{
    background-color: rgba(238, 238, 241, 0.897);
    font-family: "Inter", sans-serif;
    color: #252525;
    padding: 2rem;
}

header{
    max-width: 780px;
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
}

main{
    max-width: 780px;
    margin: auto;
    text-align: center;
}

.title{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 15px;
}
.subtitle{
    font-size: 15px;
    color: #828282;
}

.box{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(132, 148,165, 0.1);
    border-radius: 8px;
    margin-bottom: 32px;
}
.senha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.acao{
    flex-direction: end;
}

input[type=text]{
    font-family: 'Inconsolata', monospace;
    font-size: 28px;
    border: none;
    outline: none;
    cursor: default;
    height: 52px;
    width: 100%;
    transition: all 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.botao{
    width: 28px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}
.security-indicator{
    height:10px;
    background-color: #ddd;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.security-indicator .bar{
    height:10px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: all 0.2;
}

.security-indicator .bar.completed{
    border-top-right-radius: 0;
}
.security-indicator .bar.critical{
    background-color: #eb5757;
}
.security-indicator .bar.warning{
    background-color: #f2c94c;
}
.security-indicator .bar.safe{
    background-color: #27ae60;
}

.box1{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(132, 148,165, 0.1);
    border-radius: 8px;
    text-align: left;
    
}

.title01{
    border-bottom: 1px solid #f0f0f0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 32px;
    padding-bottom: 10px;
}

.customize{
    padding: 10px 15px;
}
/*.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/


.slider{
    appearance: none;
    height: 10px;
    background: #dddddd;
    outline: none;
    border-radius: 8px;
    width: 100%;
    opacity: 0.7;
    transition: opacity 0.2s;
    margin-top: 16px;
}

.slider:hover{
    opacity: 1;
    cursor: pointer;
}

/*.checkbox-container{
    flex-direction: end;
    color: #828282;
    display:block;
    position: relative;
    padding-left:30px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}

